<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title></title>
  <style>
   .1 {
    background:#A43500;
    color: white;
    height:200px;
    width:200px;
   }
  </style>

 </head>
<body  bgcolor="#AACD32">
<pre><h1><p align="center"><img src="../Мехонцев_Практическое задание/символ.png" width="180" height="225" alt="" /> <strong> <b><tt>  <strong><b>ВОЛГОГРАД</b></strong> </tt></b></strong></h1></p></pre>
<TABLE WIDTH="100%" HEIGHT="20" BORDER="0" >
<TR ALIGN="center">
<TD WIDTH="33%" HEIGHT="40"><A HREF="http://127.0.0.1:5000/karta">КАРТА</A></td>
<TD WIDTH="33%" HEIGHT="40"><A HREF="http://127.0.0.1:5000/simvolika">СИМВОЛИКА</A></td>
<TD WIDTH="33%" HEIGHT="40"><A HREF="http://127.0.0.1:5000/ob_avtore">ОБ АВТОРЕ</A></td>
</TR>
<tr>
<td rowspan="2" ALIGN="left" VALIGN="top" >
<form action="http://127.0.0.1:5000/index" mention="get" >
<button type="submit" style="width 10%;height=60px;"  class="1" >
<font size=3>ГЛАВНАЯ</font>
</button>
</form>
<form action="http://127.0.0.1:5000/geo" mention="get" >
<button type="submit" style="width 10%;height=60px;" class="1">
<font size=3>ГЕОГРАФИЯ</font>
</button>
</form>
<form action="http://127.0.0.1:5000/history" mention="get" VALIGN="top">
<button type="submit" style="width 10%;height=60px;"  class="1">
<font size=3>ИСТОРИЯ</font>
</button>
</form>
<form action="http://127.0.0.1:5000/fact" mention="get" >
<button type="submit" style="width 10%;height=60px;" class="1">
<font size=3>ИНТЕРЕСНЫЕ ФАКТЫ</font>
</button>
</form>
<form action="http://127.0.0.1:5000/foto" method="get" >
<button type="submit" style="width 10%;height=60px;"  class="1">
<font size=3>ФОТОГАЛЕРЕЯ</font>
</button>
</form>
<br>

</td>
<td rowspan="2" ALIGN="left">
<img src="фото9.jpg" width="729" height="900" alt="" />
<p>Географическое положение<br>
С севера на юг и с запада на восток область протянулась более чем на 400 км. Общая протяжённость границ области — 2221,9 км, в том числе с Саратовской областью 29,9 %, Ростовской 26,8 %, Астраханской 11,4 %, Воронежской 11,3 % областями, Республикой Калмыкия 10,9 % и Казахстаном 9,7 %.

Волгоградская область имеет выгодное географическое положение, являясь главными воротами на юг России с выходом на Иран, Кавказ, Украину и Казахстан. В обратном направлении на центральную Россию и Поволжье. Также в области соединяются через Волго-Донской канал две важнейшие реки Европейской части России, Волга и Дон. С его помощью можно выйти на следующие моря: Каспийское море, Белое море, Балтийское море, Черное море и Азовское море.

Занимает площадь 112,9 тыс. км? (78 % составляют земли сельскохозяйственного назначения).</p>
<p>Климатические условия<br>
Климат области засушливый, с резко выраженной континентальностью. Северо-западная часть находится в зоне лесостепи, восточная — в зоне полупустынь, приближаясь к настоящим пустыням. Средняя температура января от -8 до -12, июля от 23 до 25. Среднегодовое количество осадков выпадает на северо-западе до 500 мм, на юго-востоке — менее 300 мм. Абсолютный максимум тепла +42…+44 °C наблюдается обычно в июле — августе. Абсолютный минимум температуры воздуха составляет ?36… ?42 °C и наблюдается в январе — феврале.

Среднемноголетние сроки образования устойчивого снежного покрова в северных районах — 11—17 декабря, в южных — 20—25 декабря. Снежный покров сохраняется от 90 до 110 дней. Средние значения высоты снежного покрова колеблются от 13 до 22 см.

Зима в Волгоградской области, как правило, начинается в декабре и длится 70—90 дней. Весна обычно короткая, наступает в марте — апреле. В мае иногда бывают заморозки, нанося большой ущерб сельскохозяйственным культурам и плодоносящим садам. Лето устанавливается в мае, иногда в июне и продолжается около 3-х с половиной месяцев. Осень длится с конца сентября до начала декабря. В октябре иногда бывают заморозки.</p>

</td>
<td ALIGN="center"  VALIGN="top"><img src="images.jpg" width="200" height="250" alt="" /></td>
</tr>
<tr>
<td ALIGN="right"><img src="фото8.png" width="500" height="300" alt="" /></td>
</tr>
</table>
<pre><p align="center" ><A HREF="http://127.0.0.1:5000/geo" style="color:blue">Наверх</A>   <A HREF="http://127.0.0.1:5000/spisok" style="color:blue">Список источников</A></p></pre>
</body>
</html>
